<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu" id="navbarDropdown">
        <a href="" class="dropdown-item" aria-labelledby="navbarDropdown">To shopping List</a>
        <a href="" class="dropdown-item" aria-labelledby="navbarDropdown">Edit Recipes</a>
        <a href="" class="dropdown-item" aria-labelledby="navbarDropdown">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
